theme = "blowfish"
baseURL = "https://noviorlu.github.io/"
defaultContentLanguage = "zh-cn"

enableRobotsTXT = true
[pagination]
  pagerSize = 10
summaryLength = 0

buildDrafts = false
buildFuture = false

enableEmoji = true

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]
